    <c-card class="mb-4">
      <c-card-header>Detalles del Trabajador</c-card-header>
      <c-card-body>
        <div class="row">
          <div class="col-md-2">
            <img [src]="worker?.avatar" alt="{{ worker.email }}" class=" mb-2 custom-avatar" width="100px" height="auto">
          </div>
          <div class="col-md-10">
            <strong>{{ worker.name + ' ' + worker.surname }}</strong>
            <p>{{ worker.employment }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p><strong>Provincia:</strong> {{ worker.province }}</p>
            <p><strong>Ciudad:</strong> {{ worker?.city }}</p>
            <p><strong>Dirección:</strong> {{ worker.address }}</p>
            <p><strong>Sexo:</strong> {{ worker.sex }}</p>
          </div>
          <div class="col-md-4">
            <p><strong>Email:</strong> {{ worker.email }}</p>
            <p><strong>Teléfono:</strong> {{ worker.phoneNumber }}</p>
            <p><strong>Código Postal:</strong> {{ worker.postalCode }}</p>
          </div>
        </div>
        <p><strong>Descripción:</strong> {{ worker.description }}</p>

        <div class="row">
          <div class="col-md-6">
            <img [src]="worker.images[0]" alt="{{worker.images[0]}}" class="img-fluid mb-2">
          </div>
          <div class="col-md-6">
            <img [src]="worker.images[1]" alt="{{worker.images[1]}}" class="img-fluid mb-2">
          </div>
        </div>
      </c-card-body>
    </c-card>
    <app-spinner *ngIf="loading"></app-spinner>
    <app-messages 
    *ngIf="show"
      [alertColor]="alertColor"
      [iconName]="iconName"
      [message]="message">
    </app-messages>